body {
	background: black;
	font-family: "Playfair Display", serif;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 10px 10px 0 0;
}

.postcard-header h1 {
	font-size: 24px;
	margin: 0;
	margin: 17px 0 0 10px;
}

.postcard-body {
	display: flex;
	width: 100%;
}

.body-left p:first-child {
	margin-top: 0;
}

input {
	border: none;
}

.body-left,
.body-right {
	padding: 10px;
	width: 50%;
	margin-left: 0;
}

.body-right input {
	display: block;
	width: 100%;
	margin-bottom: 6px;
	border: none;
	border-bottom: 1px solid grey;
	background: transparent;
	font-family: "Playfair Display", serif;
	font-size: 12px;
	padding: 2px 4px;
	box-sizing: border-box;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 3px;
}

button:hover {
	background-color: darkgrey;
}

::placeholder {
	opacity: 0.8;
}

p {
	color: black;
	font-size: 14px;
}
